* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .master,
  .distribution,
  .procurement,
  .packing,
  .contact,
  .support {
    display: flex;
    margin-left: 260px;
    font-size: 2rem;
  }